{% extends "base.html" %}

{% block title  %}Confirm your account{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>
            Xin chào, {{ current_user.name }}!
        </h1>
        <h3>
            Bạn chưa xác nhận địa chỉ email.
        </h3>
        <p>
            Để truy cập, xin vui lòng xác nhận địa chỉ email với chúng tôi.<br>
            Chúng tôi đã gửi 1 email xác nhận đến email của bạn ( {{ current_user.email }} ).
        </p>
        <p>
            <a href="{{ url_for('auth.resend_confirmation') }}">Gửi lại email xác nhận.</a>
        </p>
    </div>
</div>
{% endblock %}