alembic
argh
attrs
bleach
blinker
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Bootstrap4
Flask-HTTPAuth
Flask-Images
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-PageDown
flask-request-validator
Flask-Resize
Flask-Script
Flask-SQLAlchemy
Flask-SSLify
Flask-WTF
fonttools
ForgeryPy3
geographiclib
geopy
gunicorn
idna
itsdangerous
jellyfish
Jinja2
joblib
kiwisolver
lib50
Mako
Markdown
MarkupSafe
matplotlib
numpy
# opencv-python.72
packaging
pexpect
pilkit
Pillow
pillowcase
ptyprocess
pycparser
pygame
pyparsing
python-dateutil
python-editor
PyYAML
requests
scikit-learn
scipy
six
# sklearnpost1
SQLAlchemy
submit50
termcolor
threadpoolctl
urllib3
visitor
webencodings
Werkzeug
WTForms
