header {
    margin: 50px 0 20px;
    text-align: center;
    padding: 0 10px
}

header h1 {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 28px;
    margin-top: 30px
}

.content {
    max-width: 600px;
    margin: 0 auto
}

.content h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 40px 0 30px
}

.content figure {
    display: block;
    text-align: center;
    margin: 20px 0
}

.content figcaption {
    font-size: 12px;
    padding-top: 10px
}

.content div.dropdown {
    margin: 20px auto;
    width: 130px
}

.content blockquote p {
    font-size: 14px;
    padding: 15px 20px;
    border-left: 3px solid #edecf2;
    background-color: #f9f9fb
}

.noti {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.post {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

.last-message {
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

/* .verticalhorizontal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} */

.messcrop {
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

html, body {
    height: 100%;
    /* scroll-behavior: smooth; */
}


.inbox-chatbox {
    /* position: fixed; */
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    width: 100%;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

* {
    box-sizing: border-box;
  }
  
#inbox-form {
      display: flex;
  }
  

textarea {
    display: inline-block;
    width: 90%;
    resize: none;
  }
  
#btn-send {
    display: inline-block;
    width: 10%;
  }

.inbox-form{
    max-width: 700px;
}

.message {
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

.message-right {
    
    border-top-right-radius: 1.2em;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}

.message-left {
    border-top-right-radius: 1.2em;
    border-top-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}


