{% macro pagination_widget(pagination, endpoint) %}
{% if pagination.pages > 1 %}
<ul class="pagination justify-content-center">
    {% if pagination.has_prev %}
    <li class="page-item">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">&#8249;</a>
    </li>
    {% endif %}

    {% for page in pagination.iter_pages(1, 2, 4, 1) %}
        {% if page %}
            {% if page == pagination.page %}
                <li class="page-item active"><a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">&#8250;</a>
    </li>
    {% endif %}
</ul>

{% endif %}
{% endmacro %}

{% macro user_widget(user, distance=None) %}
<div class="card shadow">
        <div class="card-body">

            <h6 class="card-title">
                <a href="{{ url_for('main.user', uuid=user.uuid) }}">{{user.name }}</a>
                {% if user.is_active() %}
                <span class="align-middle"
                    style="background: rgb(66, 183, 42); border-radius: 50%; width: 10px; height: 10px;  display: inline-block;"
                    aria-label="Active Now"></span>
                {% endif %}
            </h6>

            <p class="card-text" style="cursor: pointer;"
                onclick="window.location='{{ url_for('main.user', uuid=user.uuid) }}'">
                
                {# {{ user.about_me }} #}
            </p>
        </div>
        <figure class="imghvr-push-up">
            <img class="card-img-bottom"
                src="{{ url_for('images.crop', filename=user.avatar, width=400, height=400, quality=90) }}"
                alt="{{ user.name }}">
            <figcaption>
                {{ user.gender.name }} {{ user.birthday.year }} <br>
                    {{ user.province.name }}{% if distance %}, {{ '%0.2f' |format(distance.distance|float) }} km{% endif %}
            </figcaption>
        </figure>
    </div>
{% endmacro %}