{% extends "bootstrap/base.html" %}

{% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>{% block title %}{% endblock %}</title>


<!-- Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/mystyle.css">

{% endblock %}


{% block navbar %}

<nav class="navbar fixed-top shadow navbar-expand-lg py-0 py-md-1 navbar-light bg-light">
    <a class="navbar-brand mr-lg-5" href="{{ url_for('main.index') }}">Cupid</a>
    {% if current_user.is_authenticated %}
    <a class="navbar-brand mr-lg-5" href="#">
        <img src="../static/message.png" alt="Message" style="width:20px;">
        <small><span class="badge badge-pill badge-danger">6</span></small>
    </a>
    <a class="navbar-brand mr-lg-5" href="{{ url_for('main.notification') }}">
        <img src="../static/notification.png" alt="Notification" style="width:20px;">
        {% if current_user.new_noti > 0 %}
        <small><span class="badge badge-pill badge-primary">{% if current_user.new_noti < 100 %}{{ current_user.new_noti }}{% else %}99+{% endif %}</span></small>
        {% endif %}
    </a>
    <a class="navbar-brand mr-lg-5" href="{{ url_for('main.people') }}">
        <img src="../static/people.png" alt="People" style="width:25px;">
    </a>
    {% endif %}

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <form class="form-inline mr-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link text-primary" href="{{ url_for('main.user', uuid=current_user.uuid) }}">Trang cá
                    nhân</a>
            </li>
            <li class="nav-item active"><a class="nav-link text-primary"
                    href="{{ url_for('main.setting', uuid=current_user.uuid) }}">Cài đặt</a></li>
            <li class="nav-item active"><a class="nav-link text-primary" href="{{ url_for('auth.logout') }}">Đăng
                    xuất</a></li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link text-primary" href="{{ url_for('auth.login') }}">Đăng nhập</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-primary" href="{{ url_for('auth.register') }}">Đăng ký</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>

{% endblock %}

{% block content %}
<div class="mt-5">
    <br>
    <div class="container ">
        {% for message in get_flashed_messages() %}
        <br>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>


    <div class="pb-2 mt-4 mb-2 border-bottom">
        {% block page_header %}{% endblock %}
    </div>

</div>
{% block page_content %}{% endblock %}

{% block pagination %}
{% if pagination %}
{% import "_macros.html" as macros %}
{{ macros.pagination_widget(pagination, request.endpoint ) }}
{% endif %}
{% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("vi")}}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}