{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Tìm kiếm bạn mới{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/imagehover.min.css">
<link rel="stylesheet" href="../static/scss/_custom.scss">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        {% for user, distance in people %}
        <div class="col-6 col-sm-4 col-md-3 p-2">
            {{ macros.user_widget(user, distance) }}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}