{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bài đăng{% endblock %}

{% block page_header %}
<div class="container">
        <img src="{{ post.author.avatar }}" height="32px" class="float-left">
        <h6><a href="{{ url_for('main.user', uuid=post.author.uuid) }}" class="pl-3">{{ post.author.name }}</a>
            <span class="text-muted"> <small>{{ moment(post.created).fromNow() }}</small></span>
            {% if post.author_id == current_user.id %}
            <div class="dropdown dropleft" style="float:right;">
                <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('main.edit_post', uuid=post.uuid) }}">Chỉnh sửa</a>
                    <a class="dropdown-item" href="{{ url_for('main.delete_post', uuid=post.uuid, next=url_for('main.user_homepage')) }}">Xóa</a>
                </div>
            </div>
            {% endif %}
        </h6>
    
        <p class="pt-3" align="justify">
            {{ post.body }}
        </p>
    </div>
{% endblock %}

{% block page_content %}

{% endblock %}