{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ post.author.name }}{% endblock %}

{% block page_header %}
<div class="container px-4">
    <!-- avatar, tên, thời gian  -->
    <div>
        <img class="float-left rounded-circle "
            src="{{ url_for('images.crop', filename=post.author.avatar, width=48, height=48, quality=90) }}">
        <h6><a href="{{ url_for('main.user', uuid=post.author.uuid) }}" class="ml-3">{{ post.author.name }}</a>
            <span class="text-muted"> <small>{{ moment(post.created).fromNow() }}</small></span>
            {% if post.author_id == current_user.id %}
            <div class="dropdown dropleft" style="float:right;">
                <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('main.edit_post', uuid=post.uuid) }}">Chỉnh sửa</a>
                    <a class="dropdown-item"
                        href="{{ url_for('main.delete_post', uuid=post.uuid, next=url_for('main.user_homepage')) }}">Xóa</a>
                </div>
            </div>
            {% endif %}
        </h6>
    </div>

    <!-- nội dung post -->
    <div>
        <!-- chữ -->
        <p class="mt-5" align="justify" style="white-space: pre-line">{{ post.body }}</p>

        <!-- ảnh -->
        {% if post.images.all() %}
        <img src="{{ url_for('images', filename=post.images[0].uuid + '.png', height=1000, quality=90) }}"
            class="mx-auto d-block img-fluid">
        {% endif %}
    </div>

    <div class="mt-3 py-2 border border-right-0 border-left-0">
        <!-- nút like -->
        <span class="p-1 pb-2 px-3 " style="cursor: pointer;" id="like{{ post.uuid }}"
            onclick="like('{{ post.uuid }}');">
            {% if not post.count_likes %}
            {% set count_likes = ''%}
            {% else %}
            {% set count_likes = post.count_likes %}
            {% endif %}

            {% if current_user.is_like(post) %}
            <img src="../static/liked.png" width="26">
            <b class="ml-1 text-primary">Like</b>
            <b class="ml-2 text-primary count-likes">{{ count_likes }}</b>
            {% else %}
            <img src="../static/like.png" width="26">
            <b class="ml-1 ">Like</b>
            <b class="ml-2 count-likes">{{ count_likes }}</b>
            {% endif %}
        </span>

        <!-- nút comment -->
        <span class="p-1 pb-2 px-3 " style="cursor: pointer;">
            <img src="../static/comment.png" width="26">
            <b class="ml-1 ">Comment</b>
            {% if post.count_comments > 0 %}
            <b class="ml-2">{{ post.count_comments }}</b>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}

{% block page_content %}

<a class="text-primary text-center" id='loadOlds' style="cursor: pointer;" onClick='load();'>
    <h5>Tải bình luận cũ</h5>
</a>
<div class="d-flex justify-content-center">
    <div id="loading" class="spinner-border text-primary" role="status" style="display: none;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<br>

<!-- hiển thị comment -->
<div class="container" id="comments">

</div>

<!-- nhập comment -->
<br><br><br><br><br><br>
<div class="bg-white border border-secondary border-top  fixed-bottom inbox-chatbox ">

    <div class="container form-group pt-1 inbox-form">
        <form id="inbox-form">
            <textarea id="textarea-send" class="form-control animated "
                placeholder="Nhập bình luận của bạn, nhấn enter để gửi, shift + enter để xuống dòng"></textarea>
            <button id="btn-send" class="btn btn-sm btn-default ml-3" type="button"><img
                    src="{{ url_for('images.crop', filename='send.png', width=32, height=32, quality=90) }}"></button>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Like -->
<script>
    function like(uuid) {
        //console.log(id);
        var likeimg = $('#like' + uuid).children('img');
        var liketext = $('#like' + uuid).children('b');
        if (likeimg.attr('src') == '../static/like.png') {
            likeimg.attr('src', "../static/liked.png");
            liketext.addClass('text-primary');
        }
        else {
            likeimg.attr('src', "../static/like.png");
            liketext.removeClass('text-primary');
        }

        $.ajax(
            {
                url: '/api/v1.0/post/like',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ uuid: uuid }),
                success: function (data) {
                    if (data['count_likes'] == 0) {
                        $('#like' + uuid).children('b.count-likes').html('');
                    }
                    else {
                        $('#like' + uuid).children('b.count-likes').html(data['count_likes']);
                    }

                }
            }
        );
    }
</script>


<!-- comment -->
<script>

    var uuid = '{{ post.uuid }}', oldest = 0, latest = 0, current_user={uuid: '{{ current_user.uuid }}', name: '{{ current_user.name }}', avatar: '{{  url_for('images.crop', filename=current_user.avatar, width=48, height=48, quality=90)}}', url: '{{ url_for('main.user', uuid=current_user.uuid) }}' };

    function comment(body, callback) {
        $.ajax(
            {
                url: '/api/v1.0/post/comment',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ uuid: uuid, body: body }),
                success: function (data) { callback(data); }
            }
        );
    }

    function get_news(count, callback) {
        //console.log('get_news');
        $.ajax(
            {
                url: '/api/v1.0/post/comment/get_news',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) { callback(data); },
                data: JSON.stringify({ 'uuid': uuid, 'count': count, 'last_id': latest })
            });
    }


    function get_olds(count, callback) {
        $.ajax(
            {
                url: '/api/v1.0/post/comment/get_olds',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) { callback(data); },
                data: JSON.stringify({ 'uuid': uuid, 'count': count, 'last_id': oldest })
            });
    }


    function send_comment() {

        body = $.trim($("#textarea-send").val());
        if (body != '') {
            console.log('send comment');
            comment(body, function (data) { latest = data.id; });
            $("#textarea-send").val('');
            render_comment([{ body: body, user: current_user }], false);
            $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
            $('[data-toggle="tooltip"]').tooltip();
        }
    }


    function render_comment(list_comments, add_top) {
        res = '';
        for (i in list_comments) {
            c = list_comments[i];

            title = moment.utc(c.timestamp).local().calendar()
            c.body = c.body.split('\n').join('<br>')

            res += '<div class="row my-4 " >\n<div class="col">\n<img class="float-left rounded-circle" src="'+ c.user.avatar +'" "><div class=" card  p-2 px-3 mb-1 ml-2  bg-white comment" data-toggle="tooltip"\ntitle="' + title + '" data-placement="right"> <a class="mr-3" href="'+ c.user.url + '"><b>'+ c.user.name +'</b></a>' +  c.body + '</div>\n</div>\n</div>'
        }
        if (add_top)
            $('#comments').prepend(res)
        else
            $('#comments').append(res)
    }

    function load(messagelist) {
        $("#loading").show();
        //p = $(document).height();
        //console.log(p);
        get_olds(10, function (data) {
            comments = data['comments'].reverse();
            var n = comments.length
            if (n != 0) {
                oldest = comments[0].id;
                latest = comments[n - 1].id;
                render_comment(comments, true)
            }
            else {
                $('#loadOlds').hide();
            }
            $("#loading").hide();

            //p = $(document).height() - p

            //$(window).scrollTop(p);

            $('[data-toggle="tooltip"]').tooltip();
        });

    }


    $(document).ready(function () {
        get_news(10, function (data) {
            comments = data['comments'].reverse();
            var n = comments.length
            if (n != 0) {
                oldest = comments[0].id;
                latest = comments[n - 1].id;
                console.log(comments);
                render_comment(comments, false)
            } else {
                $('#loadOlds').hide();
            }
            $('[data-toggle="tooltip"]').tooltip();
        });
    });

    function getCaret(el) {
        if (el.selectionStart) {
            return el.selectionStart;
        } else if (document.selection) {
            el.focus();
            var r = document.selection.createRange();
            if (r == null) {
                return 0;
            }
            var re = el.createTextRange(), rc = re.duplicate();
            re.moveToBookmark(r.getBookmark());
            rc.setEndPoint('EndToStart', re);
            return rc.text.length;
        }
        return 0;
    }

    $('#textarea-send').keyup(function (event) {
        if (event.keyCode == 13) {
            var content = this.value;
            var caret = getCaret(this);
            if (event.shiftKey) {
                this.value = content.substring(0, caret - 1) + "\n" + content.substring(caret, content.length);
                event.stopPropagation();
            } else {
                this.value = content.substring(0, caret - 1) + content.substring(caret, content.length);
                send_comment()
                this.value = '';
            }
        }
    });

    $('#btn-send').click(function (event) {
        send_comment()
    });



    $(function () {
        $('.normal').autosize();
        $('.animated').autosize({ append: "\n" });
    });

    (function ($) {
        var
            defaults = {
                className: 'autosizejs',
                append: '',
                callback: false,
                resizeDelay: 10
            },

            // border:0 is unnecessary, but avoids a bug in Firefox on OSX
            copy = '<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>',

            // line-height is conditionally included because IE7/IE8/old Opera do not return the correct value.
            typographyStyles = [
                'fontFamily',
                'fontSize',
                'fontWeight',
                'fontStyle',
                'letterSpacing',
                'textTransform',
                'wordSpacing',
                'textIndent'
            ],

            // to keep track which textarea is being mirrored when adjust() is called.
            mirrored,

            // the mirror element, which is used to calculate what size the mirrored element should be.
            mirror = $(copy).data('autosize', true)[0];

        // test that line-height can be accurately copied.
        mirror.style.lineHeight = '99px';
        if ($(mirror).css('lineHeight') === '99px') {
            typographyStyles.push('lineHeight');
        }
        mirror.style.lineHeight = '';

        $.fn.autosize = function (options) {
            if (!this.length) {
                return this;
            }

            options = $.extend({}, defaults, options || {});

            if (mirror.parentNode !== document.body) {
                $(document.body).append(mirror);
            }

            return this.each(function () {
                var
                    ta = this,
                    $ta = $(ta),
                    maxHeight,
                    minHeight,
                    boxOffset = 0,
                    callback = $.isFunction(options.callback),
                    originalStyles = {
                        height: ta.style.height,
                        overflow: ta.style.overflow,
                        overflowY: ta.style.overflowY,
                        wordWrap: ta.style.wordWrap,
                        resize: ta.style.resize
                    },
                    timeout,
                    width = $ta.width();

                if ($ta.data('autosize')) {
                    // exit if autosize has already been applied, or if the textarea is the mirror element.
                    return;
                }
                $ta.data('autosize', true);

                if ($ta.css('box-sizing') === 'border-box' || $ta.css('-moz-box-sizing') === 'border-box' || $ta.css('-webkit-box-sizing') === 'border-box') {
                    boxOffset = $ta.outerHeight() - $ta.height();
                }

                // IE8 and lower return 'auto', which parses to NaN, if no min-height is set.
                minHeight = Math.max(parseInt($ta.css('minHeight'), 10) - boxOffset || 0, $ta.height());

                $ta.css({
                    overflow: 'hidden',
                    overflowY: 'hidden',
                    wordWrap: 'break-word', // horizontal overflow is hidden, so break-word is necessary for handling words longer than the textarea width
                    resize: ($ta.css('resize') === 'none' || $ta.css('resize') === 'vertical') ? 'none' : 'horizontal'
                });

                // The mirror width must exactly match the textarea width, so using getBoundingClientRect because it doesn't round the sub-pixel value.
                function setWidth() {
                    var style, width;

                    if ('getComputedStyle' in window) {
                        style = window.getComputedStyle(ta, null);
                        width = ta.getBoundingClientRect().width;

                        $.each(['paddingLeft', 'paddingRight', 'borderLeftWidth', 'borderRightWidth'], function (i, val) {
                            width -= parseInt(style[val], 10);
                        });

                        mirror.style.width = width + 'px';
                    }
                    else {
                        // window.getComputedStyle, getBoundingClientRect returning a width are unsupported and unneeded in IE8 and lower.
                        mirror.style.width = Math.max($ta.width(), 0) + 'px';
                    }
                }

                function initMirror() {
                    var styles = {};

                    mirrored = ta;
                    mirror.className = options.className;
                    maxHeight = parseInt($ta.css('maxHeight'), 10);

                    // mirror is a duplicate textarea located off-screen that
                    // is automatically updated to contain the same text as the
                    // original textarea.  mirror always has a height of 0.
                    // This gives a cross-browser supported way getting the actual
                    // height of the text, through the scrollTop property.
                    $.each(typographyStyles, function (i, val) {
                        styles[val] = $ta.css(val);
                    });
                    $(mirror).css(styles);

                    setWidth();

                    // Chrome-specific fix:
                    // When the textarea y-overflow is hidden, Chrome doesn't reflow the text to account for the space
                    // made available by removing the scrollbar. This workaround triggers the reflow for Chrome.
                    if (window.chrome) {
                        var width = ta.style.width;
                        ta.style.width = '0px';
                        var ignore = ta.offsetWidth;
                        ta.style.width = width;
                    }
                }

                // Using mainly bare JS in this function because it is going
                // to fire very often while typing, and needs to very efficient.
                function adjust() {
                    var height, original;

                    if (mirrored !== ta) {
                        initMirror();
                    } else {
                        setWidth();
                    }

                    mirror.value = ta.value + options.append;
                    mirror.style.overflowY = ta.style.overflowY;
                    original = parseInt(ta.style.height, 10);

                    // Setting scrollTop to zero is needed in IE8 and lower for the next step to be accurately applied
                    mirror.scrollTop = 0;

                    mirror.scrollTop = 9e4;

                    // Using scrollTop rather than scrollHeight because scrollHeight is non-standard and includes padding.
                    height = mirror.scrollTop;

                    if (maxHeight && height > maxHeight) {
                        ta.style.overflowY = 'scroll';
                        height = maxHeight;
                    } else {
                        ta.style.overflowY = 'hidden';
                        if (height < minHeight) {
                            height = minHeight;
                        }
                    }

                    height += boxOffset;

                    if (original !== height) {
                        ta.style.height = height + 'px';
                        if (callback) {
                            options.callback.call(ta, ta);
                        }
                    }
                }

                function resize() {
                    clearTimeout(timeout);
                    timeout = setTimeout(function () {
                        var newWidth = $ta.width();

                        if (newWidth !== width) {
                            width = newWidth;
                            adjust();
                        }
                    }, parseInt(options.resizeDelay, 10));
                }

                if ('onpropertychange' in ta) {
                    if ('oninput' in ta) {
                        // Detects IE9.  IE9 does not fire onpropertychange or oninput for deletions,
                        // so binding to onkeyup to catch most of those occasions.  There is no way that I
                        // know of to detect something like 'cut' in IE9.
                        $ta.on('input.autosize keyup.autosize', adjust);
                    } else {
                        // IE7 / IE8
                        $ta.on('propertychange.autosize', function () {
                            if (event.propertyName === 'value') {
                                adjust();
                            }
                        });
                    }
                } else {
                    // Modern Browsers
                    $ta.on('input.autosize', adjust);
                }

                // Set options.resizeDelay to false if using fixed-width textarea elements.
                // Uses a timeout and width check to reduce the amount of times adjust needs to be called after window resize.

                if (options.resizeDelay !== false) {
                    $(window).on('resize.autosize', resize);
                }

                // Event for manual triggering if needed.
                // Should only be needed when the value of the textarea is changed through JavaScript rather than user input.
                $ta.on('autosize.resize', adjust);

                // Event for manual triggering that also forces the styles to update as well.
                // Should only be needed if one of typography styles of the textarea change, and the textarea is already the target of the adjust method.
                $ta.on('autosize.resizeIncludeStyle', function () {
                    mirrored = null;
                    adjust();
                });

                $ta.on('autosize.destroy', function () {
                    mirrored = null;
                    clearTimeout(timeout);
                    $(window).off('resize', resize);
                    $ta
                        .off('autosize')
                        .off('.autosize')
                        .css(originalStyles)
                        .removeData('autosize');
                });

                // Call adjust in case the textarea already contains text.
                adjust();
            });
        };
    }(window.jQuery || window.$)); // jQuery or jQuery-like library, such as Zepto

</script>

{% endblock %}